.bar-graph-container {
  background-color: white;
  margin-top: 10px;
  /* width: 98%;/ */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* Add shadow to the bottom and right */
}

.title-bar {
  background-color: #79BEFC;
  color: white;
  padding: 10px;
  /* border-radius: 5px; */
  text-align: center;
}

.bar-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
